apiVersion: tests.testkube.io/v2
kind: Test
metadata:
  name: local-my-app-endpoint
  namespace: testkube
spec:
  content:
    data: |
      {
          "command": [
            "curl",
            "http://my-app.${namespace}.svcxxx:80/public-routes"
          ],
          "expected_status": "200",
          "expected_body": "my-app is up"
      }
    type: string
  type: curl/test